body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Goal reached message styling */

.popup_overlay {
    /* center the content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    /* overlay the win message on top of the game */
    position: absolute;
    top: 0;
    /* fill the screen */
    width: 100%;
    min-height: 100%;

}

.popup_overlay div {
    max-width: 45%;
    padding: 2em;
    margin-top: -1000%;
    border: 1px solid #000;
    text-shadow: 1px 1px #000;
    box-shadow: 0px 0px 100px #000;
    transition: 1s all;
    text-transform: uppercase;
}

.win {
    background: #d86c32;
    color: #fff;
    font-size: 2em;
}

.game_over {
    background: #fff;
    color: #ae1414;
    font-size: 1.5em;
}

.popup_overlay .on {
    margin-top: 0%;
}
