body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* main content container for layout and centering */

.main {
    /* take the full size of the window so things get centered in window */
    display: flex;
    width: 100%;
    height: 100vh;
}

canvas {
    margin: auto;
}

/* Goal reached message styling */

.popup_overlay {
    /* center the content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    /* overlay the win message on top of the game */
    position: absolute;
    top: 0;
    /* fill the screen */
    width: 100%;
    min-height: 100%;

}

.popup_overlay div {
    max-width: 16em;
    padding: 1.5em;
    /*margin-top: -1000%;*/
    opacity: 0;
    text-shadow: 2px 2px #000;
    box-shadow: 0 0 100px #000;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
    transition: 1s all;
    text-transform: uppercase;
}

.win {
    background: #61a2d2;
    color: #f1fcfa;
    font-size: 2em;
    border: 15px dotted #b4f2fa;
}

.game_over {
    background: none;
    border: 10px solid #eb2d2d;
    color: #eb2d2d;
    font-size: 2em;
}

.level {
    background: none;
    border: 5px solid #f5f5f5;
    color: #f5f5f5;
}

.popup_overlay .on {
    /*margin-top: 0%;*/
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
